html {
  width: 100%;
  height: 100%;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

*::-webkit-scrollbar {
  width: 4px;
}

body > .container {
  display: flex;
  width: 90%;
  height: 100%;
  padding: 0 5%;
  background-color: #340d0c75;
  gap: 40px;
}

/*LEFT CONTENT CSS*/
.left {
  flex: 1;
  display: flex;
  height: 100%;
}
.left > .content {
  width: 80%;
  margin: auto;
}
.left > .content > span {
  display: block;
  text-align: center;
  width: 110px;
  padding: 8px;
  border-radius: 25px;
  font-family: "Syne";
  font-weight: 600;
  font-size: 0.95rem;
  line-height: 0.95rem;
  background-color: #0f0f0f;
  color: white;
}
.left > .content > h1 {
  font-family: "Syne";
  font-size: 3rem;
  font-weight: 600;
  color: white;
}
.left > .content > p {
  font-family: "DM Sans";
  font-size: 1rem;
  font-weight: 500;
  color: #a0a89f;
  margin-top: 0;
}

.left > .content > img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100.1%;
  height: 300.5px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: transparent; /* Optional: For a placeholder background */
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.btns {
  display: flex;
  gap: 20px;
}

/*RIGHT CONTENT CSS*/
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*FORM STYLE*/
.form {
  width: 100%;
  max-width: 450px;
  max-height: 70%;
  margin: auto;
  padding: 60px 50px;
  border-radius: 20px;
  background-color: #180908de;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
}

.form h2 {
  font-family: "Syne";
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
}

.form p {
  display: block;
  font-family: "DM sans";
  font-size: 0.9rem;
  font-weight: 400;
  color: #a0a89f;
  margin-bottom: 20px;
}

.error {
  color: red !important;
}
.success {
  color: green !important;
  text-align: left !important;
  margin-right: auto;
}

.form > form {
  margin: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert colors to make the icon white */
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert colors to make the icon white */
}
input[type="month"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Invert colors to make the icon white */
}

.input-group {
  width: 100%;
  padding: 16px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #afafaf;
}

.input-group > label {
  display: block;
  font-size: 0.8rem;
  font-family: "DM sans";
  color: #9e9e9e;
  margin-bottom: 10px;
}

.input-group > input {
  display: block;
  box-sizing: content-box;
  width: 100%;
  padding: 0;
  border: transparent;
  outline: none;
  font-size: 0.8rem;
  background: transparent;
  color: white !important;
  font-family: "DM sans";
}
.input-group > textarea {
  width: 100%;
  padding: 0;
  border: transparent;
  background: transparent;
  color: white;
  font-size: 0.8rem;
  font-family: "DM sans";
  outline: none;
}
.input-group > input::placeholder {
  color: #9e9e9e;
}

.hidden {
  display: none;
}

.radio-group {
  border: none;
  margin: 0;
}
.radio-group > .options {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.9rem;
  font-family: "DM Sans";
}

.radio-group > .options > label {
  display: flex;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.4s;
}
.radio-group > .options > label:hover {
  transform: scale(0.9);
}
.radio-group > .options > label > input {
  display: block;
  margin: auto 5px auto 0;
}
.radio-group > .options > label > span {
  display: block;
  margin: auto 0;
}
.radio-group > .options > label > img {
  width: 12px;
  margin-left: 5px;
  filter: invert(100%);
}
.radio-group > .options > label:nth-child(2) > img {
  width: 15px;
}

.select-group > select {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  color: white;
  font-family: "DM Sans";
  outline: none;
}
.select-group > select > option {
  color: #0c0c0c;
}
.checkbox-group {
  border: none;
}
.checkbox-group > .options {
  display: grid;
  color: white;
  font-size: 1.1rem;
  font-family: "DM sans";
  gap: 10px;
}
.checkbox-group > .options > label {
  cursor: pointer;
  margin: 0;
}
.checkbox-group > .options > label > img {
  width: 16px;
  margin-left: 5px;
}

.grid-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-btn {
  display: block;
  width: fit-content;
  padding: 18px 30px;
  margin-top: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Syne";
  font-weight: 600;
}
.form-btn > a {
  text-decoration: none;
  color: black;
}

.logout {
  background: orangered !important;
}
.logout > a{
  color: white !important;
}

.form-btn:hover {
  transform: scale(0.9);
}

.forgot-password {
  margin: 30px 0;
}

.forgot-password > a {
  color: #a0a89f;
  font-size: 0.9rem;
  text-decoration: none;
  font-family: "DM sans";
}

.forgot-password a:hover {
  text-decoration: underline;
}

/*SUCCESS PAGE*/
.success {
  margin: auto;
  text-align: center !important;
}
.success > h3 {
  font-family: "Syne";
  font-size: 22px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 0px auto initial auto !important;
}
.success > .animation {
  width: 250px;
  height: 250px;
  margin: auto;
}

/*Detail*/
.details > h2 {
  margin-bottom: 0;
}
.details > p {
  margin-top: 10px;
}
.details .input-group {
  margin: 0;
}

.details .lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.details .lists > .list {
  display: flex;
  gap: 10px;
}
.details .lists > .list > img {
  width: 20px;
  height: fit-content;
  margin: auto 0;
}
.details .lists > .list > span {
  display: block;
  margin: auto 0;
  font-family: "DM Sans";
  font-size: 0.8rem;
  font-weight: 400;
  color: #a0a89f;
  text-transform: capitalize;
}

.details .package {
  width: calc(100% - 102px);
  padding: 20px 50px;
  border: 1px solid #cc7825;
  background-color: #49241985;
  border-radius: 20px;
}
.details .package > h2 {
  margin-top: 0 !important;
  margin-bottom: 5px;
}
.details .package > p {
  margin: 0;
}

.save-btn {
  display: block;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1rem;
  width: 200px;
  padding: 8px;
  margin: 20px auto 20px auto;
  border-radius: 20px;
  background-color: #55230f;
  color: white;
  border: transparent;
  cursor: pointer;
  box-shadow: 4px 4px 20px 5px rgba(0, 0, 0, 0.5);
}
.save-btn > a {
  text-decoration: none;
  color: white;
}
.btn-animate {
  transition: all 0.3s;
}
.btn-animate:hover {
  transform: scale(0.8);
}